<p-organizationChart [value]="appComponents">
    <ng-template let-node pTemplate="default">
        @if (node.data.type === ChangeDetectionType.DEFAULT) {
            <default-component [title]="node.data.title"></default-component>
        } @else {
            <onpush-component [title]="node.data.title"></onpush-component>
        }
    </ng-template>
</p-organizationChart>

<button (click)="handleAddComponent(ChangeDetectionType.DEFAULT)">Add Default component</button>
<button (click)="handleAddComponent(ChangeDetectionType.ONPUSH)">Add Onpush component</button>
